/* @theme metro_common */

@import 'gaia';

:root {
  --color-background: #fff;
  --color-foreground: #333;
  --color-highlight: #800000;
}

section {
  background-image: none;
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;
/*  font-family: "Tsukushi A Round Gothic"; */
  font-family: "Noto Sans JP";
  ul {
      font-size: 28px;
  }
  p, ul {
      margin-top: 0;
      padding-top: 0;
  }
}

section:not(.title-slide):not(.section-slide)::after {
  content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
  color: #fff;
  right: 8px;
  bottom: -18.5px;
  font-size: 16px;
}

section.title-slide::after, section.section-slide::after {
    display: none;
}

/*
ul ul {
    font-size: 24px;
}
*/

/* table */
table {
    margin: auto;
    font-size: 26px;
    border-collapse: collapse !important;
    background-color: #eaf4fc !important;
    color: #333 !important;
}

th, td {
    border: 2px solid #fff !important;
}

th {
  background-color: #2a7bbd !important; 
  color: white !important;
  font-weight: normal !important;
  text-align: center !important;
}

td {
  background-color: #eaf4fc !important;
}

tr:nth-child(even) td {
  background-color: #d7eaf8 !important;
}

p.center {
    text-align: center;
}

section.title-slide {
    padding-top: 180px;
    padding-left: 150px;
    padding-right: 150px;

    h1 {
      color: #000000;
      text-align: left;
      font-size: 52px;
      font-weight: 500;
    }
    h1 strong {
      -webkit-text-stroke: 1px #000000;
    }
    h1:has(+ h2)::after {
        content: "";
        display: block;
        width: 100%;
        margin: 4px auto;
        height: 1px;
        background: #395ca8;
      }
    h1:not(:has(+ h2))::after {
        content: "";
        display: block;
        width: 100%;
        margin: 4px auto;
        height: 1px;
        background: #395ca8;
        margin-bottom: 132px;
    }
    h2 {
      color: #000000;
      text-align: left;
      font-weight: 400;
      font-size: 44px;
      margin-bottom: 50px;
    }
    h2 strong {
      -webkit-text-stroke: 1px #000000;
    }
    h3 {
      color: #000000;
      text-align: left;
    }
    h3 strong {
      -webkit-text-stroke: 1px #000000;
    }
    h4 {
      color: #000000;
      text-align: left;
    }
    h4 strong {
      -webkit-text-stroke: 1px #000000;
    }
    h5 {
      color: #000000;
      text-align: left;
    }
    h5 strong {
      -webkit-text-stroke: 1px #000000;
    }
    p {
      text-align: left;
      font-size: 28px;
      padding-top: 20px;
    }
    header {
        display: none;
    }
    footer {
        display: none;
    }
}

p.date {
    text-align: right;
    padding-top: 0;
}

section.section-slide {
    padding-top: 270px;
    padding-left: 100px;
    padding-right: 100px;

    h1 {
      color: #000000;
      text-align: left;
      font-size: 60px;
      font-weight: 500;
    }
    h1 strong {
      -webkit-text-stroke: 1px #000000;
    }
    h1::after {
        content: "";
        display: block;
        width: 100%;
        margin: 4px auto;
        height: 1px;
        background: #395ca8;
    }
    h2 {
      color: #888888;
      text-align: left;
      font-size: 32px;
      font-weight: 400;
      padding-left: 10px;
    }
    h2 strong {
      -webkit-text-stroke: 1px #000000;
    }

    header {
        display: none;
    }

    footer {
        display: none;
    }

}

section:has(img) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 90px 40px;
    font-family: "Noto Sans JP";
    .image-row {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        margin: 1.5rem auto;
        width: 100%;
        margin-top: 0.1em;
        img {
            flex: 0 1 30%;
            max-width: 100%;
            max-height: 20vh;
            width: auto;
            height: auto;
            object-fit: contain;
            display: block;
            margin: 0 auto;
            box-sizing: border-box;
        }
    }
    p, ul {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}


h1 {
    font-size: 44px;
}

header {
    color: #fff;
    font-size: 1em;
    font-weight: 700;
}

blockquote {
  max-width: 90%;
  font-size: 14px;
  color: #888888;
  position: absolute;
  bottom: 46px;
}
blockquote::before {
  content: "";
  color: #888888;
}
blockquote::after {
  content: "";
  color: #888888;
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

footer {
    font-size: 16px;
    color: #fff;
    height: 32px;
    line-height: 13px;
}

.columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 100%;
    gap: 1rem;
    align-items: start;
}

.columns > *:has(img):not(:has(p, u)) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}

.columns img {
    width: auto;
    height: auto;
    display: block;
    object-fit: contain;
    max-width: 100%;
    max-height: 20vh;
    box-sizing: border-box;
}

.columnsline {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  position: relative;
  height: 90%;
}

.columns > :nth-child(2) {
    padding-left: 0.5rem;
}

/* with center line */
.columnsline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: #ccc;
  transform: translateX(-50%); 
}

.columnsline > :nth-child(2) {
    padding-left: 0.5rem;
}

.mermaid {
    background: #ffffff;
    text-align: center;
}

.bc {
    text-align: center;
    font-weight: bold;
    font-size: 52px;
}

.blue {
    color: #395ca8;
}

.blueb {
    color: #395ca8;
    font-weight: bold;
}

/*
code {
  font-family: 'Hack Nerd Font', monospace;
}
*/
