/* @theme simple */

@import 'gaia';

:root {
  --color-background: #fff;
  --color-foreground: #333;
  --color-highlight: #800000;
}

section {
  background-image: none;
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: start;
  align-items: start;

/*  font-family: "Tsukushi A Round Gothic"; */
  font-family: "Noto Sans JP";
  ul {
      font-size: 28px;
  }
  p, ul {
      margin-top: 0;
      padding-top: 0;
  }
}

section::after {
  content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
  color: #888888;
  right: 16px;
  bottom: 8px;
  font-size: 16px;
}

/*
ul ul {
    font-size: 24px;
}
*/

table {
    margin: auto;
    font-size: 26px;
}

p.center {
    text-align: center;
}

section.title-slide {
    padding-top: 260px;
    justify-content: center;
    h1 {
      color: #000000;
      text-align: center;
      font-size: 78px;
      font-weight: 500;
    }
    h1 strong {
      -webkit-text-stroke: 1px #000000;
    }
    h2 {
      margin-top: 0;
      padding-top: 0;
      color: #444444;
      text-align: center;
      font-weight: 400;
      font-size: 44px;
    }
    h2 strong {
      -webkit-text-stroke: 1px #000000;
    }
    h3 {
      color: #000000;
      text-align: left;
    }
    h3 strong {
      -webkit-text-stroke: 1px #000000;
    }
    h4 {
      color: #000000;
      text-align: left;
    }
    h4 strong {
      -webkit-text-stroke: 1px #000000;
    }
    h5 {
      color: #000000;
      text-align: left;
    }
    h5 strong {
      -webkit-text-stroke: 1px #000000;
    }

    footer {
        color: #fff;
    }
}

p.date {
    text-align: right;
    padding-top: 0;
}

section.section-slide {
    padding-top: 270px;
    padding-left: 100px;
    padding-right: 100px;

    h1 {
      color: #000000;
      text-align: center;
      font-size: 70px;
      font-weight: 500;
    }
    h1 strong {
      -webkit-text-stroke: 1px #000000;
    }
    h2 {
      color: #888888;
      text-align: center;
      font-size: 44px;
      font-weight: 400;
      padding-left: 10px;
    }
    h2 strong {
      -webkit-text-stroke: 1px #000000;
    }

}

section:has(img) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 90px 40px;
    font-family: "Noto Sans JP";
    .image-row {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        margin: 1.5rem auto;
        width: 100%;
        margin-top: 0.1em;
        img {
            flex: 0 1 30%;
            max-width: 100%;
            max-height: 15vh;
            width: auto;
            height: auto;
            object-fit: contain;
            display: block;
            margin: 0 auto;
            box-sizing: border-box;
        }
    }
    p, ul {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 44px;
}

blockquote {
  max-width: 90%;
  font-size: 14px;
  color: #888888;
  position: absolute;
  bottom: 46px;
}
blockquote::before {
  content: "";
  color: #888888;
}
blockquote::after {
  content: "";
  color: #888888;
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

footer {
    font-size: 16px;
    color: #888888;
}

.columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 100%;
    gap: 1rem;
    align-items: start;
}

.columns > *:has(img) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}

.columns img {
    width: auto;
    height: auto;
    display: block;
    object-fit: contain;
    max-width: 100%;
    max-height: 20vh;
    box-sizing: border-box;
}

.columnsline {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  position: relative;
  height: 78%;
}

.columns > :nth-child(2) {
    padding-left: 0.5rem;
}

/* with center line */
.columnsline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: #ccc;
  transform: translateX(-50%); 
}

.columnsline > :nth-child(2) {
    padding-left: 0.5rem;
}
/*
code {
  font-family: 'Hack Nerd Font', monospace;
}
*/
